body {
  width: 375px;
  margin: 0 auto;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

button {
  outline: 0;
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
}

input {
  outline: 0;
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
}

p {
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #707070;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
}

b, strong {
    font-weight: bolder;
}

h2 {
  font-size: 23px;
  margin: 0;
  padding: 0;
}

h3 {
  font-weight: 500;
  font-size: 18px;
  color: #2B4762;
  margin: 0;
  padding: 0;
}

main {
  background: #2362a2;
}

.is-hidden {
  display: none;
}

.header {
  background: #2362a2;
  padding-top: 15px;
  padding-bottom: 20px;
}

.header__search {
  position: relative;
  margin-top: 14px;
}

.header__search input {
  outline: 0;
  background: #FFFFFF;
  border-radius: 3px 3px 0px 0px;
  font-size: 16px;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

.header__search button {
  background: #ecae1a;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  position: absolute;
  top: 8px;
  right: 5px;
}

.btn.btn-yellow {
  background: #ecae1a;
}

.btn.btn-sm {
  font-size: 13px;
  padding: 0.7rem 1rem;
}

.box {
  background: #fff;
  border-radius: 3px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 20px;
}

.box h2 {
  margin-bottom: 7px;
}

.box > p {
  margin-bottom: 16px;
}

.box__section {
  border-top: 1px solid rgba(35, 98, 162, 0.3);
  padding-top: 16px;
  padding-bottom: 16px;
}

.box__section h3 {
  margin-bottom: 8px;
}

.box__section h3 svg {
  margin-right: 10px;
}

.box__section h3 a {
  text-decoration: none;
}

.box__section p {
  font-size: 13px;
}

.box--blue-dark {
  background: #254e80;
  color: #fff;
}

.box--blue-dark .box__section {
  border-top-color: #fff;
}

.box--blue-dark .box__section:first-of-type {
  border-top: 0;
  padding-top: 4px;
}

.box--blue-dark h2,
.box--blue-dark h3,
.box--blue-dark a,
.box--blue-dark p {
  color: #fff !important;
}

.box--blue-light {
  background: #337dbd;
  color: #fff;
}

.box--blue-light .box__section {
  border-top-color: #fff;
}

.box--blue-light .box__section:first-of-type {
  border-top: 0;
  padding-top: 4px;
}

.box--blue-light h2,
.box--blue-light h3,
.box--blue-light a,
.box--blue-light p {
  color: #fff !important;
}

.page--homepage .hero {
  background: url(/customAssets/homepage-hero-bg.png);
  background-size: cover;
  padding-top: 48px;
  padding-bottom: 84px;
}

.page--homepage .hero p {
  letter-spacing: 0.5px;
  color: #fff;
  margin: 0 auto;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
}

.page--homepage .hero + .container .box:first-of-type {
  margin-top: -50px;
}

.page--detail main {
  background-image: url(/customAssets/homepage-hero-bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.page--detail .hero .breadcrumb {
  padding: 0;
  margin: 0;
  padding-top: 16px;
  margin-bottom: 16px;
  font-size: 12px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.page--detail .hero .breadcrumb a {
  color: #fff;
}

.page--detail .hero .breadcrumb__item {
  color: #fff;
}

.page--detail .hero .breadcrumb__item:nth-child(n+2)::before {
  color: #fff;
  opacity: .8;
  font-size: 10px;
  padding: 0 8px;
}

.page--detail .hero .breadcrumb__item--active {
  color: #ecae1a;
}

.page--detail .hero h2 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 23px;
  line-height: 32px;
  margin-bottom: 27px;
}
/*# sourceMappingURL=styles.css.map */